
<!-- =========================
   FOOTER             
============================== -->

<footer>
<!--FOOTER LINKS-->
	<div class="container-fluid footer-links">
		<div class="container">
			<div class="col-sm-4">
				<ul class="footer-nav">
					<li><a [routerLink]="['/calculate-tax']"><i class="fa fa-check"></i> Tax Saving Calculator</a></li>
					<li><a [routerLink]="['/hra']"><i class="fa fa-check"></i> HRA Calculator</a></li>
					<li><a [routerLink]="['/form12bb']"><i class="fa fa-check"></i> Form12BB</a></li>
					<li><a [routerLink]="['/check-refund']"><i class="fa fa-check"></i> Check Refund Status</a></li>
					<li><a [routerLink]="['/rent-receipt']"><i class="fa fa-check"></i> Rent Receipt</a></li>
				</ul>	
			</div>
			
		</div>
	</div>
<div class="container">
	<!-- COMPANY ADDRESS-->
	<div class="col-md-5 company-details">
		<div class="icon-top red-text">
		    <i class="icon-fontawesome-webfont-302"></i>
		</div>
		6th floor, STPI, Electronic city, Bangalore
	</div>
	
	<!-- COMPANY EMAIL-->
	<div class="col-md-2 company-details">
		<div class="icon-top green-text">
		<i class="icon-fontawesome-webfont-329"></i>
		</div>
		 contact@varenyasoftech.com
	</div>
	
	<!-- COMPANY PHONE NUMBER -->
	<div class="col-md-2 company-details">
		<div class="icon-top blue-text">
		<i class="icon-fontawesome-webfont-101"></i>
		</div>
		+91-00-0000-0000
	</div>
	
	<!-- SOCIAL ICON AND COPYRIGHT -->
	<div class="col-lg-3 col-sm-3 copyright">
		<ul class="social">
			<li><a href=""><i class="icon-facebook"></i></a></li>
			<li><a href=""><i class="icon-twitter-alt"></i></a></li>
			<li><a href=""><i class="icon-linkedin"></i></a></li>
			<li><a href=""><i class="icon-behance"></i></a></li>
			<li><a href=""><i class="icon-dribbble"></i></a></li>
		</ul>
		 ©2016 Varenya Softech
	</div>
</div> <!-- / END CONTAINER -->
</footer> <!-- / END FOOOTER  -->
