<div class="app app-default">
	<app-dashboard-sidebar></app-dashboard-sidebar>
	<div class="app-container">
		<app-dashboard-header></app-dashboard-header>
			<div class="row">
			<div class="col-lg-12 col-sm-12">
				<div class="card personal_info">
					<div class="card-header">
						PAN Registration Detail
					</div>
					<div class="card-body">
						<form class="form form-horizontal" name="form" novalidate>
						
							<div class="section">
								<div class="section-body">

						   <div class="form-group" >
							<label for="pannumber" class="control-label col-md-3">PAN</label>
							<div class="input_field col-md-9">
							  <input type="text" class="form-control" id="pannumber" name="pannumber" #pannumber="ngModel" [(ngModel)]="model.pannumber"  maxlength= "10" pattern="[A-Z]{5}\d{4}[A-Z]{1}" />
							</div>
						</div>

						<div class="form-group">
						  <label for="fname" class="control-label col-md-3">Date Of Birth</label>
						  <div class="input_field col-md-9">
							  <input type="date" class="form-control" id="date" name="date" #date="ngModel"  [(ngModel)]="model.date"  />
						  </div>
						</div>

						<div class="form-group">
						  <label for="mname" class="control-label col-md-3">Email  Address</label>
						  <div class="input_field col-md-9">
							  <input type="email" class="form-control" id="email" name="email" #email="ngModel" [(ngModel)]="model.email"    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"/>
							  
						  </div>
						</div>

						<div class="form-group">
						  <label for="lname" class="control-label col-md-3">First Name</label>
						  <div class="input_field col-md-9">
							  <input type="text" class="form-control" id="firstname" name="firstname" #firstname="ngModel"  [(ngModel)]="model.firstname"  />
						  </div>
						</div>

						<div class="form-group">
						  <label for="lname" class="control-label col-md-3">Middle Name</label>
						  <div class="input_field col-md-9">
							<input type="text" class="form-control" id="middlename" name="middlename" #middlename="ngModel"  [(ngModel)]="model.middlename"  />
						  </div>
						</div>

						<div class="form-group">
						  <label for="lname" class="control-label col-md-3">Last Name</label>
						  <div class="input_field col-md-9">
							<input type="text" class="form-control" id="lastname" name="lastname" #lastname="ngModel"  [(ngModel)]="model.lastname"  /> 
						  </div>
						</div>

						  <div class="form-group">
							<label for="lname" class="control-label col-md-3">Gender</label>
							<div class="input_field col-md-9">
								<div class="radio radio-inline">
									<input type="radio" name="gender" value='Male' #gender="ngModel" [(ngModel)]='model.gender' id="radio5" >
									<label for="radio5">
										Male
									</label>
								</div>
								<div class="radio radio-inline">
									<input type="radio" name="gender" id="radio6" value='Female' #gender="ngModel" [(ngModel)]='model.gender' >
									<label for="radio6">
										Female
									</label>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="lname" class="control-label col-md-3">Marrital Status</label>
							<div class="input_field col-md-9">
								<div class="radio radio-inline">
									<input type="radio" name="maritalstatus" value='Married' #maritalstatus="ngModel" [(ngModel)]='model.maritalstatus' id="maritalstatus1" >
									<label for="maritalstatus1">
										Married
									</label>
								</div>
								<div class="radio radio-inline">
									<input type="radio" name="maritalstatus" id="maritalstatus2" value='Unmarried' #maritalstatus="ngModel" [(ngModel)]='model.maritalstatus' >
									<label for="maritalstatus2">
										Unmarried
									</label>
								</div>
							</div>
						</div>

					  <div class="form-group">
						  <label for="lname" class="control-label col-md-3">Father Name</label>
						  <div class="input_field col-md-9">
							<input type="text" class="form-control" id="fathername" name="fathername" #fathername="ngModel"  [(ngModel)]="model.fathername"  />
						  </div>
					  </div>

					  <div class="form-group">
						  <label for="lname" class="control-label col-md-3">Mobile Number</label>
						  <div class="input_field col-md-9">
							<input type="text" class="form-control" id="mobilenumber" name="mobilenumber" #mobilenumber="ngModel" [(ngModel)]="model.mobilenumber" maxlength= "10"   /> 
						  </div>
					  </div>

								</div>
							</div>
							<div class="form-footer">
								<div class="form-group">
								  <div class="col-md-9 col-md-offset-3">
									   <button type="button" class="btn btn-default">Cancel</button>
								  </div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>