<div class="app app-default">
	<app-dashboard-sidebar></app-dashboard-sidebar>
	<div class="app-container">
		<app-dashboard-header></app-dashboard-header>


		<div class="row">
		<div class="col-lg-12">
			<div class="card efiling_cont">
				<div class="card-header">E-Filing</div>
				<div class="card-body">
			<form name="form"  novalidate>
				<div class="accordian">
					<ul>
						<li class="active">
							<app-personal-info></app-personal-info>
						</li>
						<li>
							<app-income-sources></app-income-sources>
						</li>
						<li>
							<app-deductions></app-deductions>
						</li>
						<li>
							<app-tax-paid></app-tax-paid>
						</li>
						<li>
							<app-tax-filing></app-tax-filing>
						</li>
					</ul>
				</div>
				<!-- Small modal -->
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>
			</form>
			</div>
			</div>
		</div>
	</div>
</div>

</div>