<main>
<img  src="assets/images/bg4.jpg" class="static_image">
<header id="home" class="header frontpage notfront">
	<app-landing-header></app-landing-header>
</header>


<!-- =========================
   PACKAGES SECTION   
============================== -->

<section class="packages" >
<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="white-text">Packages</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6 class="white-text">
			We have 4 friendly packages for you. Check all the packages and choose the right one for you. 
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
	
	<!-- PACKAGES -->
	<div class="row">
		
		<!-- FIRST PACKAGE -->
		<div class="col-lg-3 col-sm-3">
			<div class="package wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
				<div class="package-header green-bg">
					<h5>Basic</h5>
				</div>
				<div class="price dark-bg">
					<div class="price-container">
					<h4><span class="dollar-sign">&#8377;</span>449</h4><span class="price-meta">
					    / plus Taxes

					</span>
					</div>
				</div>
				<ul>
					<li><i class="fa fa-check"></i>One Form 16</li>
					<li><i class="fa fa-check"></i>One House Property</li>
					<li><i class="fa fa-check"></i>SB A/c Interest, FDR Interest, Dividends, Exempted Income </li>
					<li><i class="fa fa-check"></i>Verification of Form 26AS</li>
					<li><i class="fa fa-check"></i>Computation of Chapter VI-A Deductions </li>
					<li><i class="fa fa-check"></i>Return preparation Tax Expert & Review by CA</li>
				</ul>
				<a href="#" class="btn btn-primary custom-button green-btn">
				Buy Now </a>
			</div>
		</div> <!-- / END FIRST PACKAGE -->
		
		<div class="col-lg-3 col-sm-3">
			<div class="package wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
				<div class="package-header blue-bg">
					<h5>Medium</h5>
				</div>
				<div class="price dark-bg">
					<div class="price-container">
					<h4><span class="dollar-sign">&#8377;</span>649 </h4>
					<span class="price-meta">/ plus Taxes</span>
					</div>
				</div>
				<ul>
					<li><i class="fa fa-check"></i>More than one Form 16</li>
					<li><i class="fa fa-check"></i>More Than one House Property</li>
					<li><i class="fa fa-check"></i>SB A/C Interest, FDR Interest, Dividends Exempted Income </li>
					<li><i class="fa fa-check"></i>Verification of Form 26AS</li>
					<li><i class="fa fa-check"></i>Computation of Chapter VI-A Deductions </li>
					<li><i class="fa fa-check"></i>Return preparation Tax Expert & Review by CA </li>
					<li><i class="fa fa-check"></i>Foreign Assets </li>
				</ul>
				<a href="#" class="btn btn-primary custom-button blue-btn">
				Buy Now </a>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-3">
				<div class="package wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
					<div class="package-header red-bg">
						<h5>Advanced</h5>
						
					</div>
					<div class="price dark-bg">
						<h4><span class="dollar-sign">&#8377;</span>1549</h4>
						<span class="price-meta">/ plus taxes</span>
					</div>
					<ul>
					<li><i class="fa fa-check"></i>More than one Form 16</li>
					<li><i class="fa fa-check"></i>More Than one House Property</li>
					<li><i class="fa fa-check"></i>SB A/C Interest, FDR Interest, Dividends Exempted Income </li>
					<li><i class="fa fa-check"></i>Verification of Form 26AS</li>
					<li><i class="fa fa-check"></i>Computation of Chapter VI-A Deductions </li>
					<li><i class="fa fa-check"></i>Return preparation Tax Expert & Review by CA </li>
					<li><i class="fa fa-check"></i>Foreign Assets </li>
					<li><i class="fa fa-check"></i>Income From Capital Gains ( Property/Shares Up to 50 Transactions) </li>
					
					</ul>
					<a href="#" class="btn btn-primary custom-button red-btn">
				Buy Now </a>
				</div>
			
		</div>
		
		<div class="col-lg-3 col-sm-3">
		<div class="best-value">
			<div class="package wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
				<div class="package-header yellow-bg">
					<h4>Customized</h4>
					<div class="meta-text">
							Only
						</div>
				</div>
				<div class="price dark-bg">
					<h4><span class="dollar-sign">contact sales</span> </h4>
					<span class="price-meta"></span>
				</div>
				<ul>
					<li><i class="fa fa-check"></i>Not Covered any of the 3 plans</li>
					<li><i class="fa fa-check"></i>No Worries</li>
					<li><i class="fa fa-check"></i>We Will do it as per your need </li>
					
				</ul>
				<a href="#" class="btn btn-primary custom-button yellow-btn">
				Buy Now </a>
			</div>
			</div>
		</div>
	</div> <!-- / END PACKAGES -->
	
</div> <!--END CONTAINER  -->
</section> <!-- END PACKAGES SECTION -->

<app-footer></app-footer>
</main>