<div class="app app-default">
	<div class="app-container full-width">
	<app-dashboard-header></app-dashboard-header>
	<div class="row">
		<div class="col-lg-8 col-sm-8">
			<div class="card personal_info">
				<div class="card-header">
					PAN Registration Detail
				</div>
				<div class="card-body">
					<form class="form form-horizontal" name="form" (ngSubmit)="pan()" #panForm="ngForm" novalidate>
						
							<div class="section">
								<div class="section-body">

						   <div class="form-group" >
							<label for="pannumber" class="control-label col-md-3">PAN</label>
							<div class="input_field col-md-9">
							  <input type="text" class="form-control" id="pannumber" name="pannumber" #pannumber="ngModel" [(ngModel)]="model.pannumber"  maxlength= "10" pattern="[A-Z]{5}\d{4}[A-Z]{1}" required/>
								 <div *ngIf="pannumber.errors && (pannumber.dirty || pannumber.touched)"
								class="alert alert-danger">
								<div [hidden]="!pannumber.errors.required">
									Required
								</div> 
								<div [hidden]="!pannumber.errors.pattern">
									PAN is Invalid
								</div> 
								
							  </div>
							</div>
						</div>

						<div class="form-group">
						  <label for="fname" class="control-label col-md-3">Date Of Birth</label>
						  <div class="input_field col-md-9">
							  <input type="date" class="form-control" id="date" name="date" #date="ngModel"  [(ngModel)]="model.date" required />
							 <div *ngIf="date.errors && (date.dirty || date.touched)"
								class="alert alert-danger">
								<div [hidden]="!date.errors.required">
									Required
								</div>   
							</div>
						  </div>
						</div>

						<div class="form-group">
						  <label for="mname" class="control-label col-md-3">Email  Address</label>
						  <div class="input_field col-md-9">
							  <input type="email" class="form-control" id="email" name="email" #email="ngModel" [(ngModel)]="model.email" required   pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"/>
							   <div *ngIf="email.errors && (email.dirty || email.touched)"
								class="alert alert-danger">
								<div [hidden]="!email.errors.required">
									Required
								</div> 
								<div [hidden]="!email.errors.pattern">
									Email is invalid
								</div> 
								
							  </div>
						  </div>
						</div>

						<div class="form-group">
						  <label for="lname" class="control-label col-md-3">First Name</label>
						  <div class="input_field col-md-9">
							  <input type="text" class="form-control" id="firstname" name="firstname" #firstname="ngModel"  [(ngModel)]="model.firstname" required />
							 <div *ngIf="firstname.errors && (firstname.dirty || firstname.touched)"
								class="alert alert-danger">
								<div [hidden]="!firstname.errors.required">
									Required
								</div>   
							</div>
						  </div>
						</div>

						<div class="form-group">
						  <label for="lname" class="control-label col-md-3">Middle Name</label>
						  <div class="input_field col-md-9">
							<input type="text" class="form-control" id="middlename" name="middlename" #middlename="ngModel"  [(ngModel)]="model.middlename" required />
							 <div *ngIf="middlename.errors && (middlename.dirty || middlename.touched)"
								class="alert alert-danger">
								<div [hidden]="!middlename.errors.required">
									Required
								</div>   
							</div> 
						  </div>
						</div>

						<div class="form-group">
						  <label for="lname" class="control-label col-md-3">Last Name</label>
						  <div class="input_field col-md-9">
							<input type="text" class="form-control" id="lastname" name="lastname" #lastname="ngModel"  [(ngModel)]="model.lastname" required />
							 <div *ngIf="lastname.errors && (lastname.dirty || lastname.touched)"
								class="alert alert-danger">
								<div [hidden]="!lastname.errors.required">
									Required
								</div>   
							</div>  
						  </div>
						</div>

						  <div class="form-group">
							<label for="lname" class="control-label col-md-3">Gender</label>
							<div class="input_field col-md-9">
								<div class="radio radio-inline">
									<input type="radio" name="gender" value='Male' #gender="ngModel" [(ngModel)]='model.gender' id="radio5" required>
									<label for="radio5">
										Male
									</label>
								</div>
								<div class="radio radio-inline">
									<input type="radio" name="gender" id="radio6" value='Female' #gender="ngModel" [(ngModel)]='model.gender' required>
									<label for="radio6">
										Female
									</label>
								</div>
								<div *ngIf="gender.errors && (gender.dirty || gender.touched)"
								class="alert alert-danger">
								<div [hidden]="!gender.errors.required">
									Required
								</div>   
							</div> 
							</div>
						</div>

						<div class="form-group">
							<label for="lname" class="control-label col-md-3">Marrital Status</label>
							<div class="input_field col-md-9">
								<div class="radio radio-inline">
									<input type="radio" name="maritalstatus" value='Married' #maritalstatus="ngModel" [(ngModel)]='model.maritalstatus' id="maritalstatus1" required>
									<label for="maritalstatus1">
										Married
									</label>
								</div>
								<div class="radio radio-inline">
									<input type="radio" name="maritalstatus" id="maritalstatus2" value='Unmarried' #maritalstatus="ngModel" [(ngModel)]='model.maritalstatus' required>
									<label for="maritalstatus2">
										Unmarried
									</label>
								</div>
								<div *ngIf="maritalstatus.errors && (maritalstatus.dirty || maritalstatus.touched)"
									class="alert alert-danger">
								<div [hidden]="!maritalstatus.errors.required">
									Required
								</div>   
							</div> 
							</div>
						</div>

					  <div class="form-group">
						  <label for="lname" class="control-label col-md-3">Father Name</label>
						  <div class="input_field col-md-9">
							<input type="text" class="form-control" id="fathername" name="fathername" #fathername="ngModel"  [(ngModel)]="model.fathername" required />
							 <div *ngIf="fathername.errors && (fathername.dirty || fathername.touched)"
								class="alert alert-danger">
								<div [hidden]="!fathername.errors.required">
									Required
								</div>   
							</div> 
						  </div>
					  </div>

					  <div class="form-group">
						  <label for="lname" class="control-label col-md-3">Mobile Number</label>
						  <div class="input_field col-md-9">
							<input type="text" class="form-control" id="mobilenumber" name="mobilenumber" #mobilenumber="ngModel" [(ngModel)]="model.mobilenumber" maxlength= "10" required  />
							<div *ngIf="mobilenumber.errors && (mobilenumber.dirty || mobilenumber.touched)"
								class="alert alert-danger">
								<div [hidden]="!mobilenumber.errors.required">
									Required
								</div>   
							</div>  
						  </div>
					  </div>

								</div>
							</div>
							<div class="form-footer">
								<div class="form-group">
								  <div class="col-md-9 col-md-offset-3">
										<button type="submit" class="btn btn-primary" [disabled]="!panForm.form.valid">Generate PAN Details</button>
									   <button type="button" class="btn btn-default">Cancel</button>
								  </div>
								</div>
							</div>
						</form>
				</div>
			</div>
		</div>
	   <div class="col-lg-4 col-sm-4">
		<div class="card">
			<div class="card-header">
			  <div class="card-title">Know More About PAN Management?</div>
			</div>
			<div class="card-body">
			  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		  </div>
	  </div>
	</div>
	</div>
<div>
