<div class="app app-default">
	<app-dashboard-sidebar></app-dashboard-sidebar>
	<div class="app-container">
		<app-dashboard-header></app-dashboard-header>
		<div class="row">
		  <div class="col-md-12">
		    <div class="card upgrade-plan">
		      <div class="card-header">
		        <div class="card-title">Your Current Plan is- Basic</div>
		      </div>
		      <div class="card-body">
		          <div class="row">
		            <div class="col-md-12 section">
		              <div class="body-title">Want to upgrade your plan to</div>
		              
		              <table class="table">
		                <tbody>
		                  <tr>
		                    <td>
		                      <div class="radio">
		                      <input type="radio" name="radio2" id="radio3" value="option1">
		                      <label for="radio3">
		                        Medium Plan
		                      </label>
		                      </div>
		                    </td>
		                    <td class="right">Rs. 649/-</td>
		                  </tr>
		                  <tr>
		                    <td>
		                      <div class="radio">
		                      <input type="radio" name="radio2" id="radio4" value="option1">
		                      <label for="radio4">
		                        Advanced Plan
		                      </label>
		                      </div>
		                    </td>
		                    <td class="right">Rs. 1549/-</td>
		                  </tr>
		                  <tr>
		                    <td>
		                      <div class="radio">
		                      <input type="radio" name="radio2" id="radio5" value="option1">
		                      <label for="radio5">
		                        Customised Plan
		                      </label>
		                      </div>
		                    </td>
		                    <td class="right">Rs. 2000/-</td>
		                  </tr>
		                </tbody>
		              </table>

		               <table class="table">
		                <tbody>
		                  <tr>
		                    <td scope="row">Less: Paid for (Current Plan Name)</td>
		                    <td class="right">Rs. 449/-</td>
		                  </tr>
		                </tbody>
		              </table>
		              <table class="table">
		                <tbody>
		                  <tr>
		                    <td scope="row">Service Tax @ 14.00%</td>
		                    <td class="right">Rs. 200/-</td>
		                  </tr>
		                  <tr>
		                    <td scope="row">Swachh Bharat Cess @ 0.50%</td>
		                    <td class="right">Rs. 200/-</td>
		                  </tr>
		                  <tr>
		                    <td scope="row">Krishi Kalyan Cess @ 0.50%</td>
		                    <td class="right">Rs. 200/-</td>
		                  </tr>
		                </tbody>
		              </table>
		              <table class="table">
		                <tbody>
		                  <tr>
		                    <td scope="row"><button type="button" class="btn btn-success">Pay Now</button></td>
		                    <td class="right"><span class="small">Total Payment</span> Rs. 449/-</td>
		                  </tr>
		                </tbody>
		              </table>
		            </div>
		          </div>
		        </div>
		    </div>
		  </div>
		</div>
	</div>
</div>
