<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic|Montserrat:700,400|Homemade+Apple' rel='stylesheet' type='text/css'>
<main>
<img  src="assets/images/bg4.jpg" class="static_image">
<header id="home" class="header frontpage">
	<app-landing-header></app-landing-header>
	
	<!-- BIG HEADING WITH CALL TO ACTION BUTTONS AND SHORT MESSAGES -->
	<div class="container">
		
		<!-- HEADING -->
		<h1 class="intro">Filing income tax return...<br/>easy like never before</h1>
		
		<!-- CALL TO ACTION BUTTONS -->
		<div class="buttons inpage-scroll">
			<a class="btn btn-primary custom-button red-btn" [routerLink]="['/signup']">Start e-filing for free</a>
			
		</div>
	</div> 
	
</header>


<section class="focus" >
	<div class="container">
		
		<div class="row">
			<div class="col-lg-6 col-sm-6 individual-cont">
				<a [routerLink]="['/individual-package']">
					<span class="button-icon individual"></span>
					<div class="button-text-cont">
						<h3>Personalised individual e-filing</h3>
						<p>An Expert CA Will E-File Your Income Tax Return</p>
					</div>
				</a>
			</div>
			<div class="col-lg-6 col-sm-6 professional-cont">
				<a  [routerLink]="['/professional-package']">
					<span class="button-icon professional"></span>
					<div class="button-text-cont">
						<h3>For Business and Professionals</h3>
						<p>Best Suited For Doctors, Lawyers, Photographers, Content Writers, Architects, Business Oweners, etc.</p>
					</div>
				</a>
			</div>
		</div>
		
	</div>
</section> 


<section class="products" data-type="background" data-speed="1" id="products">
<div class="color-overlay">
	<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="white-text">Why choose us?</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6 class="white-text">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
		</h6>
	</div>
	<!-- / END SECTION HEADER -->

	<div class="row">
		
		<div class="col-lg-3 col-sm-3 focus-box red wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<a href="#"><div class="service-icon">
				<span class="pixeden pd-icon-camera"></span>
			</div>
			<h5 class="red-border-bottom">Data is safe</h5></a>
			<p>
				 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
			</p>
		</div>
		
		<div class="col-lg-3 col-sm-3 focus-box green wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<a href="#"><div class="service-icon">
				<span class="pixeden pd-icon-monitor"></span>
			</div>
			<h5 class="green-border-bottom">Excelent support</h5></a>
			<p>
				 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
			</p>
		</div>
		
		<div class="col-lg-3 col-sm-3 focus-box blue wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<a href="#"><div class="service-icon">
				<i class="pixeden pd-icon-email-marketing"></i>
			</div>
			<h5 class="blue-border-bottom">Expert help</h5></a>
			<p>
				 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
			</p>
		</div>
		
		<div class="col-lg-3 col-sm-3 focus-box yellow wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<a href="#"><div class="service-icon">
				<i class="pixeden pd-icon-check"></i>
			</div>
			<h5 class="yellow-border-bottom">Form-16 Extraction</h5></a>
			<p>
				 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
			</p>
		</div>
	</div>
</div> 
</div> 
</section>

<app-footer></app-footer>

</main>



