
<h2><a href="javascript:;">Deductions</a></h2>

<div class="tab_cont">
	<ul>
		<li>
			<app-section-80-deduction></app-section-80-deduction>
		</li>
		<li>
			<app-more-deductions></app-more-deductions>
		</li>
		<li>
			<h3>Other deductions</h3>
			<div class="inner_tab_cont">
				<h4>More deductions Under Section 80</h4>
				<fieldset>
					<legend>Section 80DD - Disabled dependent deduction. (Spouse/Children/Parents)</legend>
				</fieldset>
				<fieldset>
					<legend>Section 80U - Disability</legend>
				</fieldset>
			</div>
		</li>
	</ul>
	<div class="clearfix"></div>
	<div class="form-group col-lg-4">
		<button type="button" class="btn green-btn back-sec">Back</button>
	</div>
	<div class="form-group col-lg-4 pull-right">
		<button type="button" class="btn green-btn pull-right next-sec">Next</button>
	</div>
	<div class="clearfix"></div>
</div>
