<div class="app app-default">
	<app-dashboard-sidebar></app-dashboard-sidebar>
	<div class="app-container">
		<app-dashboard-header></app-dashboard-header>
		<div class="row">
		  <div class="col-md-12">
				<div class="card purchaseCancelled">
				  <div class="card-header">
				    <div class="card-title">Your Purchased Plan, No. 8548851# Has been cancelled.</div>
				  </div>
				  <div class="card-body">You will recieve refund amount in your account.</div>
				</div>
			</div>
		</div>
	</div>
</div>
