<div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">Welcome</div>
      </div>
      <div class="card-body two_buttons_padding">
      	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"></div>
        	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        		<h4>Do you have a Form-16 PDF?</h4><br/>
		      	<a class="card card-banner card-green-light colored" [routerLink]="['/dashboard/upload-form16']">
    				  <div class="card-body">
    				    <i class="icon fa fa-file-pdf-o fa-4x"></i>
    				    <div class="content">
    				      <div class="title">Upload</div>
    				      <div class="value">Form 16</div>
    				    </div>
    				  </div>
    				</a>
			   </div>
  		  	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
  		  	<h4>Paper Form-16? No Form-16?</h4><br/>
  		      	<a class="card card-banner card-blue-light colored" [routerLink]="['/dashboard/form16']">
      				  <div class="card-body">
      				    <i class="icon fa fa-edit fa-4x"></i>
      				    <div class="content">
      				      <div class="title">Continue here with</div>
      				      <div class="value">Form-16</div>
      				    </div>
      				  </div>
  				    </a>
  		  	</div>
  		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"></div>
	  	<div class="clearfix"></div>
      </div>
    </div>
  </div>
