<main>
<img  src="assets/images/bg4.jpg" class="static_image">
<header id="home" class="header frontpage notfront">
	<app-landing-header></app-landing-header>
</header>

<!-- =========================
   PACKAGES SECTION   
============================== -->

<section class="packages" >
<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="white-text">Packages</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6 class="white-text">
			We have 4 friendly packages for you. Check all the packages and choose the right one for you. 
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
	
	<!-- PACKAGES -->
	<div class="row">
		
		<!-- FIRST PACKAGE -->
		<div class="col-lg-3 col-sm-3">
			<div class="package wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
				<div class="package-header green-bg">
					<h5>Basic</h5>
				</div>
				<div class="price dark-bg">
					<div class="price-container">
					<h4><span class="dollar-sign">&#8377;</span>3,449</h4><span class="price-meta">
					    / plus taxes
					</span>
					</div>
				</div>
				<p class="package-text">Best Suited For Business and Professionals with Annual Turnovers/Gross receipt of upto Rs. 5 Lacs</p>
				<ul>
					<li><i class="fa fa-check"></i>Assisstance for claiming eligible expenditure to reduce Income Tax.</li>
					<li><i class="fa fa-check"></i>Preparation of balance sheet and Profit & loss Account</li>
					<li><i class="fa fa-check"></i>Annual accounting services by an expert-upto 50 entries per year</li>
					<li><i class="fa fa-check"></i>Computation of chapter VI-A Deductions</li>
					<li><i class="fa fa-check"></i>Review of bank statements</li>
					<li><i class="fa fa-check"></i>Review of form 26 AS</li>
					<li><i class="fa fa-check"></i>Tax return preparation by CA/Tax Expert</li>
					<li><i class="fa fa-check"></i>CA support via email and phone during the business hours</li>
				</ul>
				<a href="#" class="btn btn-primary custom-button green-btn">
				Sign Up </a>
			</div>
		</div> <!-- / END FIRST PACKAGE -->
		
		<div class="col-lg-3 col-sm-3">
			<div class="best-value">
				<div class="package wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
					<div class="package-header blue-bg">
						<h4>Medium</h4>
						<div class="meta-text">
							Best Value
						</div>
					</div>
					<div class="price dark-bg">
						<div class="price-container">
						<h4><span class="dollar-sign">&#8377;</span>6,499 </h4>
						<span class="price-meta">/ Plus Taxes</span>
						</div>
					</div>
					<p class="package-text">Best Suited For Business and Professionals with Annual Turnovers/Gross receipt of upto Rs. 5 Lacs</p>
					<ul>
						<li><i class="fa fa-check"></i>Assistance for claiming eligible expenditure to reduce Income Tax</li>
						<li><i class="fa fa-check"></i>Preparation of balance sheet and profit and loss Account</li>
						<li><i class="fa fa-plus blue-text"></i>Qtrly Accounting services by an expert- upto 150 entries per year</li>
						<li><i class="fa fa-plus blue-text"></i>Ensuring maximum eligible Tax Refund</li>
						<li><i class="fa fa-check"></i>Review of Form 26 AS </li> 
						<li><i class="fa fa-check"></i>Computation of chapter VI-A Deductions </li> 
						<li><i class="fa fa-check"></i>Review of bank statements</li> 
						<li><i class="fa fa-check"></i>Tax return preparation by CA/Tax Expert</li>
						<li><i class="fa fa-check"></i>CA support via email and phone during the business hours</li> 
					</ul>
					<a href="#" class="btn btn-primary custom-button blue-btn">
					Sign Up </a>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-3">
		
				<div class="package wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
					<div class="package-header red-bg">  
						<h5>Advanced</h5>
						
					</div>
					<div class="price dark-bg">
						<h4><span class="dollar-sign">&#8377;</span>10, 499</h4>
						<span class="price-meta">/ Plus Taxes</span>
					</div>
					<p class="package-text">Best Suited For Business and Professionals with Annual Turnovers/Gross receipt more than Rs. 12 Lacs.</p>
					<ul>
						<li><i class="fa fa-check"></i>Assistance for claiming eligible expenditure to reduce Income Tax</li>
						<li><i class="fa fa-check"></i>Preparation of balance sheet and profit and loss Account</li>
						<li><i class="fa fa-plus red-text"></i>Monthly Accounting services by an expert- upto 250 entries per year</li>
						<li><i class="fa fa-check"></i>Ensuring maximum eligible Tax Refund</li>
						<li><i class="fa fa-plus red-text"></i>Tax Planning and Investment Advise</li>
						<li><i class="fa fa-check"></i>Review of Form 26 AS </li> 
						<li><i class="fa fa-check"></i>Computation of chapter VI-A Deductions </li> 
						<li><i class="fa fa-check"></i>Review of bank statements</li> 
						<li><i class="fa fa-check"></i>Tax return preparation by CA/Tax Expert</li>
						<li><i class="fa fa-check"></i>CA support via email and phone during the business hours</li> 
					</ul>
					<a href="#" class="btn btn-primary custom-button red-btn">
				Sign Up </a>
				</div>
			
		</div>
		
		<div class="col-lg-3 col-sm-3">
			<div class="package wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
				<div class="package-header yellow-bg">
					<h5>Customised</h5>
				</div>
				<div class="price dark-bg">
					<h4>Assistance</h4>
					<span class="price-meta"></span>
				</div>
				<p class="package-text">Best Suited For Corporates and Business houses whose accounts are required to be audited.</p>
				<ul>
					<li><i class="fa fa-check"></i>We will customise a package as per your requirments. Best Suited to your pocket.</li>
				</ul>
				<a href="#" class="btn btn-primary custom-button yellow-btn">
				Sign Up </a>
			</div>
		</div>
	</div> <!-- / END PACKAGES -->
	
</div> <!--END CONTAINER  -->
</section> <!-- END PACKAGES SECTION -->
<app-footer></app-footer>
</main>
